<nav class="navbar navbar-expand-lg navbar-default navbar-light bg-light">
  
  <%= link_to "Alpha blog", root_path, class: "navbar-brand", id: "logo" %>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      
          <li class ="nav-item"><%= link_to "Article", articles_path, class: "nav-link" %></li>         
          <li class="nav-item">
            <%= link_to "Users", users_path %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Categories<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "All Categories", categories_path %></li>     <% Category.all.each do |category| %> 
              <li><%= link_to "#{category.name}", category_path(category) %></li>
              <% end %>   
              <% if logged_in? and current_user.admin? %>
              <li role="separator" class="divider"></li>
              <li><%= link_to "Create New Category", new_category_path %></li>
              <% end %>
            </ul>
          </li>

          <% if logged_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions<span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "New Article", new_article_path %></li>                
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
            </ul>
          </li>
          
          <li class="nav-item">
            <%= link_to 'log out', logout_path, method: :delete %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Your Profile <%= "admin" if current_user.admin? %><span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><%= link_to "Edit your profile", edit_user_path(current_user) %></li>
              <li><%= link_to "View your profile", user_path(current_user) %></li>
              <li><a href="#">Something else here</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
      <% else %>

        <li class="nav-item"><%= link_to 'login', login_path %></li>
        <li class="nav-item"><%= link_to 'Sign up', signup_path %></li>
      <% end %>        

    </ul>
    <form class="form-inline form-area my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    
  </div>
</nav>